*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: linear-gradient(white, orange, red, purple);
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
    display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 10% 75%;
  grid-template-areas: 
    "header"
    "choice-a-rhythm"
    "quiz";
/*  padding: 0px 10px;*/
}

button {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; 
  background-color: white;
  border-radius: 3px; 
  padding: 5px;
  margin: 10px;
}

.main {

}

.header {
  grid-area: header;
}

.choice-a-rhythm {
  grid-area: choice-a-rhythm;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quiz {
  grid-area: quiz;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.q-1, .q-2, .q-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}